.header-container {
  max-width: 940px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-top: 32px;
}

.site-navigation {
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-bottom: 1px solid #828282;
}

.site-navigation-item a {
  text-decoration: none;
  color: #828282;
}

.site-navigation-item a:hover {
  color: black;
}

@media (max-width: 1250px) {
  .header-container {
    max-width: 940px;
  }
}

@media (max-width: 980px) {
  .header-container {
    max-width: 90%;
    margin-bottom: 20px;
  }

  .site-navigation {
    padding-bottom: 30px;
  }
}

@media (max-width: 800px) {
   .site-navigation-item a {
    font-size: 16px;
    line-height: 18px;
  }
}

@media (max-width: 670px) {
  .site-navigation-item a {
    font-size: 16px;
  }

  .site-navigation {
    padding-bottom: 15px;
  }
}

 @media (max-width: 425px) {
  .page-header {
    display: none;
  }
}

/* @media (max-width: 375px) {
  .page-header {
    display: none;
  }
} */
